<section class="mt-5 pt-3">
    <div class="pt-5">
        <div class="login col-8 pb-5">
            <form method="post" action="/admin/logina">
                <div class="text-center mt-4 pt-4 he1">
                    Admin
                </div>
                <div class="placeholder1 pt-4">
                    {{#if loginErr}}
                    <input name="email" class="holder-red p-2 col-8 mb-1" type="text" placeholder="Email or Phone number">
                    <br />
                    <div class="m-auto mt-0 mb-0 err">
                        {{loginErr}}
                    </div>
                    <input name="password" class="holder-red p-2 col-8" type="password" placeholder="Password">
                    {{else}}
                    <input name="email" class="holder p-2 col-8 mb-3" type="text" placeholder="Email or Phone number">
                    <br />
                    <input name="password" class="holder p-2 col-8" type="password" placeholder="Password">
                    {{/if}}
                    <br>
                </div>
                <div class="login-button">

                    <button class="button col-8 mt-4 pt-2 pb-2" type="submit">Log in</button>

                </div>
            </form>
        </div>
    </div>
</section>