<section class="mt-5 pt-5">
    <div>
        <div class="">
            <img src="/images/fail.gif" class="rounded-circle m-auto" />
        </div>
        <div class="text-center mt-4 text-muted">
            <h4>Your order is pending<br />Try again</h4>
        </div>
        <div class="text-center mt-4">
            <a class="view-btn pe-2 ps-2" href="/placeOrder">Try again</a>
        </div>
    </div>
</section>