<section class="mt-5 pt-5">
    <div>
        <div class="">
            <img src="/images/tik.gif" class="rounded-circle m-auto" />
        </div>
        <div class="text-center mt-4 text-muted">
            <h4>Your order has been placed<br />Successfully</h4>
        </div>
        <div class="text-center mt-4">
            <a class="view-btn pe-2 ps-2" href="/viewOrder">view orders</a>
        </div>
    </div>
</section>