.body {
    background:white;
}
.btn-search{
    border:none;
    color:none
}
.text {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.btn-add {
    background-color:#808080;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size:1.5em;
    border-radius:0.2em;
}